@use "utils";

//@include utils.setHeaderFontSizes(36px, 20px);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: {
    family: utils.$fontFamily;
    weight: utils.$fontWeight;
    style: utils.$fontStyle;
  }
  color: white;
}

canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  touch-action: none;
  inset: 0;
}

header {
  z-index: 1;
  position: fixed;
  height: utils.$headerHeight;
}

main {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

.glass {
  border-radius: 5px;
  //box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
  padding: 2rem;
  color: white;
  background: rgba(0, 0, 0, .25);
  //filter: blur(20px);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
}

.hero {
  grid-column: 2 / 12;
  grid-row: 6 / 12;
  align-items: center;
}

.homeTop {
  grid-column: 2 / 12;
  grid-row: 2 / 7;
  align-items: center;
}

.homeBot {
  grid-column: 2 / 12;
  grid-row: 9 / 12;
align-items: center;
}

.lefty {
  grid-column: 2 / 8;
  grid-row: 1 / 12;
align-items: center;
}

.topy {
  grid-column: 2 / 12;
  grid-row: 1 / 9;
align-items: center;
}
