@use "utils";

//@include utils.setHeaderFontSizes(36px, 20px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font: {
    family: utils.$fontFamily;
    weight: utils.$fontWeight;
    style: utils.$fontStyle;
  }
  color: white;
}

canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

header {
  position: fixed;
  height: utils.$headerHeight;
}

main {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  gap: utils.$headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
