@use "utils";

@include utils.setHeaderFontSizes(36px, 20px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font: {
    family: utils.$fontFamily;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  display: block;
}
