@use "utils";

//@include utils.setHeaderFontSizes(36px, 20px);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: {
    family: utils.$fontFamily;
    weight: utils.$fontWeight;
    style: utils.$fontStyle;
  }
  color: white;
}

canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  touch-action: none;
}

header {
  z-index: 1;
  position: fixed;
  height: utils.$headerHeight;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

section {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: utils.$headerHeight;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
